if partialType == 'mainList'
	tr
		//- td
		//- 	.form-check.form-check-sm.form-check-custom.form-check-solid
		//- 	input.form-check-input(type='checkbox' value='1')
		td
			a.text-gray-800.text-hover-primary.mb-1 #{key}
		td
			if fieldType=='String' || fieldType=='Number'
				input.form-control.form-control-lg.form-control-solid(type='text' name=`${key}` placeholder=`${key}` value=`${val}`)
			else if fieldType=='Boolean'
				.form-check.form-switch.form-check-custom.form-check-success.form-check-solid
					input#kt_flexSwitchCustomDefault_1_1.form-check-input(type='checkbox' name=`${key}` value='true' checked=val)
			.fv-plugins-message-container.invalid-feedback(id=`field-error-${key}`)
			if configs.schema.path(`${key}`) && configs.schema.path(`${key}`).options
				br
				span.badge.badge-light-danger #{configs.schema.path(`${key}`).options.Comment}
else if partialType == 'subList'
	tr
		//- td
		//- 	.form-check.form-check-sm.form-check-custom.form-check-solid
		//- 	input.form-check-input(type='checkbox' value='1')
		td #{key}:#{subKey}
		td
			if subFieldType=='String' || subFieldType=='Number'
				input.form-control.form-control-lg.form-control-solid(type='text' name=`${key}[${subKey}]` placeholder=`${subKey}` value=`${subVal}`)
			else if subFieldType=='Boolean'
				.form-check.form-switch.form-check-custom.form-check-success.form-check-solid
					input#kt_flexSwitchCustomDefault_1_1.form-check-input(type='checkbox' name=`${key}[${subKey}]` value=1 checked=subVal)
			.fv-plugins-message-container.invalid-feedback(id=`field-error-${key}_${subKey}`)